*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#saidbar{
    background-color: rgb(7, 7, 50);
    color: white;
    width: 350px;
    overflow-y: scroll;
    height: 720px;
    text-align: start;
    padding: 20px;
}

#saidbar2{
    background-color: rgb(7, 7, 50);
    color: white;
    width: 90px;
    overflow-y: scroll;
    height: 720px;
    text-align: center;
   padding: 20px 0;
}

.item{
    display: flex;
    border-radius: 15px;
    gap: 15px;
    margin: 15px 0;
    padding: 15px 20px;
    background-color: rgb(87, 83, 83);
}

.container{
    display: flex; 
    justify-content: center;
    gap: 50px;
}

.item2{
    display: flex;
   justify-content: center;
    margin: 15px 0;
    padding: 10px 0;
    
   color: white;
}